div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}
.form-group .form-control.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-group .form-control.error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.form-group .error, .errorMessage {
    color: #a94442;
}
.m-b-10 {
    margin-bottom: 10px;
}
.pagination-wrapper .pagination {
    margin: 0;
}
.dropdown-menu .list-group-item {
    border: 0;
}
.btn-xlarge{
    position: relative;
    vertical-align: center;
    padding: 22px 22px !important;
    font-size: 30px !important;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #62b1d0;
    border: 0;
    border-bottom: 3px solid #9FE8EF;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -3px #9FE8EF;
    box-shadow: inset 0 -3px #9FE8EF;
}
.btn-xlarge:active {
    top: 2px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-xlarge:hover {
    background: #45E1E8;
}