div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}
.form-group .form-control.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-group .form-control.error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.form-group .error, .errorMessage {
    color: #a94442;
}
.m-b-10 {
    margin-bottom: 10px;
}
.pagination-wrapper .pagination {
    margin: 0;
}
.dropdown-menu .list-group-item {
    border: 0;
}